<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title style="text-align: center">{% if title %} {{ title }} {% else %} Welcome to Domain Scan System {% endif %}
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
        td th{
            border-top: 1px solid #ddd;
            border-bottom:   1px solid #ddd;
            padding:    5px 15px;
        }
        table{
            border-collapse: collapse;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover:not(.active) {
            background-color: #111;
        }

        .active {
            background-color: #4CAF50;
        }
    </style>
    <script>
        //需要更改ip地址
        function test(obj){
            url = "http://127.0.0.1:8888/?q=" + obj.innerHTML;
            window.location.href=url;
        }
        function delRequest() {
            $.ajax({
                type: "POST",
                url: "/showdata",
                data: {
                    id: $("#delId").val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.code == 1) {
                        $("#delModal").modal("hide");
                        toastr.success(data.message);
                        $("#userTable").bootstrapTable("refresh", {silent: true});
                    } else {
                        toastr.warning(data.message);
                    }
                },
                error: function () {
                    toastr.error("网络连接异常，请检查网络是否稳定");
                }
            });
        }
    </script>
</head>

<body>


<!-- <div class="container-fluid"> -->
<div class="container">
    <!-- 导航 -->
    <ul>
        <li class="nav-item active">
            <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
        </li>
        <li style="float:right" class="nav-item">
            <a class="nav-link" href="domain">添加域名</a>
        </li>
        <li style="float:right" class="nav-item">
            <a class="nav-link" href="showdata">显示所有域名IP</a>
        </li>
    </ul>

    <!-- 标题 -->
    <div class="row justify-content-md-center">
        <h1 class="mt-4"> {{ title }}</h1>
    </div>

    <!-- 内容 -->
    <form action="/" method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="IP / Domain" aria-label=""
                   aria-describedby="button-addon2" name="q" id="q" aria-required="true" required>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">查询</button>
            </div>
        </div>
    </form>
    <!--显示所有域名/IP-->
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
    <!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <footer>
        <hr>
        <div style="text-align:center">
            <div class="alert alert-success" role="alert" style="text-align: center">
                <caption><p><font size="5" color="#FF0000">域名IP查询结果</font></p></caption>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
                <table class="table" style="width:100% ;height:100%" >
                    <thead align="center" valign="middle">
                    <tr>
                        <th>creattime</th>
                        <th>updatatime</th>
                        <th>域名</th>
                    </tr>
                    <thead>
                    <tbody>
                    {% for data in result %}
                    <tr>
                        <td style="width: 200px">{{ data.timedata }}</td>
                        <td style="width: 200px">{{ data.updata }}</td>
                            <td style="width: 200px"><a href="javascript:void(0)" onclick="test(this)">{{ data.domain }}</a>
                            </td>
                        <td style="width: 50px">
                            <button type="button" class="btn btn-danger" onclick="delRequest()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr style="height:1px;border:none;border-top:1px solid #555555;" />
            </div>
        </div>
    </footer>
</div>


<!-- jquery -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function () {
        $("#q").focus();
    })
</script>
</body>

</html>